/* Add your own styles */

header{
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform:capitalize;
    background-color:#353c53;
    color: white;

}
body header img{
    width:auto;
    height:100px;
    border-radius: 60%;
    padding-right: 1em;
}
body{
    font-family:cursive;
    margin:0;
    font-size:20px;
    font-weight: 700;
    background-color: ghostwhite;
}
main{
    width: 60%;
    margin:0 20vw;
    justify-content: center;
    text-align: center;
}
input[type=search]{
    width:500px;
    padding: .5em;
    border-radius: 20px;
}
input{
    font-size:20px;
    border: solid black;
    margin: 2em 0;
}
Button{
    border-radius: 5px;
    font-weight: 800;
    padding:.5em ;
    width:auto;
    color:white;
    margin-top: -1em;
}
#lookup{
    background-color:#2ec881;
}
#lookup2{
    background-color:#0a54f5;
}
th{
    text-align: center;
    border: 1px solid rgb(119, 119, 119);
    background-color: #056e9ebd;
    padding: 0.5%;

}
tr:nth-child(even){
    background-color: ghostwhite;
}
tr:nth-child(odd){
    background-color: rgb(132, 133, 136);
}
td {
    text-align: left;
    border: 1px solid lightgray;
    padding: 0.8%;
}

tr:hover{
    background-color:#056e9ebd;
}
table{
    width: 100%;
}
#result{
    display: flex;
    justify-content: center;
}